


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.heading {
    font-size: 82px;
    color:rgb(165, 21, 21);
    font-weight: 700;
    /* background-color: black; */
    filter: drop-shadow(6px 6px 10px rgb(84, 37, 37));
    text-align: center;
    margin: 0;
    padding: 0;
}



.middle-section {
    background-color: black;
    /* height: 70vh; */
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: black;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.other {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.square-buttons {
    height: 80px;
    width: 80px;
}

/* :root {
    --size: 8;
  } */
/* .my-element {
} */

.grid-container {
    display: grid;
    height: 600px;
    width: 900px;
    grid-template-columns: repeat(8, 1fr);

    /* grid-template-columns: repeat(var(--size), 1fr); */
    /* justify-content: end; */
    /* grid-template-rows: repeat(8, 98px); */
    /* row-gap: 0px;
    gap: 0;
    column-gap: 0px; */
    /* justify-items: center; */



}

.coloor {
    background-color: black;
}


button {
    min-height: 50px;
    min-width: 10px;
    color:rgba(255, 0, 0, 0.719);
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    filter:drop-shadow(10px 10px 5px rgba(255, 0, 0, 0.626));
}

.grid-item {
    /* display: flex; */

    /* height: 80px; */
    border: none;
    /* border: 1px solid black; */
    /* width: 80px; */
    background-color: aqua;
    /* margin: 0;
    padding: 0; */
    /* align-items: center;
    justify-content: center; */
}